* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --mario-jump: -70px;
}


.container {
    width: 100vw;
    height: 100vh;
    background: url("./asset/peakpx.jpg");
}



.game-container{
    position: relative;
    background: url("./asset/941990-3509x2070-desktop-hd-mario-bros-wallpaper-photo.jpg");
    background-size: cover;
    width: 700px;
    height: 700px;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid white;
    border-radius: 10px;
  
}

@media only screen and (max-width:700px) {
  .game-container {
    width: 100vw;
    height: 80vh;
  }
}

.super-mario lottie-player{
    width:300px;
    height:300px;
    position:absolute;
    bottom: var(--mario-jump);
    left: -50px;
}

.enemy-container {
   width: 100%;
   height: 50px;
    position: absolute;
    bottom: 45px; 
    left: 0 ;
    overflow: hidden ;
}

.enemy-1 {
    position: absolute;
    background:url("./asset/Screenshot_4.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    bottom: 0px;
    left: 100%;
}

/* Button */

.start {
    width: 200px;
    background-color: #7e7e7e;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border: 3px solid;
    padding: 1rem 0.5rem;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .start:active {
    box-shadow: 0px 0px 0px 0px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .jump-key {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 255, 0.267);
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 2;
    border-radius: 50%;
    right: 20px;
    bottom: 20px;
  }
  
  @media (min-width: 768px) {
    .start {
      padding: 0.25em 0.75em;
    }
  }